@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}


html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}


.container{
    max-width: 964px;
    margin: 0 auto;
    padding: 0 10px;
}

body{
    font-size: 18px;
    line-height: 22px;
    font-family: 'Gilroy-Medium';
}

.header-inner{
    padding-top: 33px;
    display: flex;
    justify-content: space-around
}

.menu-list{
    display: flex;
    gap: 156px;
    font-family: 'Gilroy-Bold';;
}

.menu-list-link{
    color: #070707;
    opacity: 0.6;
}

.menu-list-link:hover {
    opacity: 1;
}


.my-info{
    padding-top: 40px;
    display: flex;
    gap: 211px;
    text-align: center;
}

.full-name-container{
    font-size: 47px;
    line-height: 59px;
    font-family: 'Gilroy-Bold';
    text-align: left;
}

.my-development-skill{
    font-size: 18px;
    line-height: 22px;
}

.my-development-skill-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.language-change-button-container{
    transform: rotate(90deg);
    text-align: right;
}

.language-change-button{
    border: none;
    color: inherit;
    background-color: transparent;
    height: 19px;
    width: 60px;
    font-family: 'Gilroy-Bold';
    display: flex;
}

.my-photo-container{
    padding-top: 31px;
    padding-bottom: 104px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me-container{
    background: #F6F6F6;
    min-width: 100%; 
    min-height: 100%;
}

.about-me{
    display: flex;
    padding-top: 181px;
    padding-bottom: 107px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.about-me-text-box{
    text-align: center;
    padding-bottom: 20px;
}

.about-me-text-header{
    padding-bottom: 18px;
}

.skills-container{
    padding-top: 91px;
    padding-bottom: 110px;
}

.my-skills{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.programming-skills-container{
    padding-top: 82px;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-around;
}

.programming-skills-card{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.programming-skills-name{
    padding-top: 24px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-info-container{
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.contacts-text-box{
    padding-top: 114px;
}

.contacts-card-box{
    padding-top: 80px;
    padding-bottom: 123px;
}

.my-contacts-box{
    padding-right: 40px;
}

.contacts-icon-box{
    height: 40px;
    width: 40px;
}