@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}


html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}


.container{
    /* background-color: #ccc; */
    max-width: 964px;
    margin: 0 auto;
    padding: 0 10px;
}

body{
    font-size: 18px;
    line-height: 22px;
    font-family: 'Gilroy-Medium';
}

.header__inner{
    padding-top: 33px;
    display: flex;
    justify-content: space-around
}

.menu__list{
    display: flex;
    gap: 156px;
    font-family: 'Gilroy-Bold';;
}

.menu__list-link{
    color: #070707;
    opacity: 0.6;
}

  .menu__list-link:hover {
    opacity: 1;
  }


.info{
    padding-top: 40px;
    display: flex;
    gap: 211px;
    text-align: center;
}

.FIO{
    font-size: 47px;
    line-height: 59px;
    font-family: 'Gilroy-Bold';
    text-align: left;
}

.men__skil{
    font-size: 18px;
    line-height: 22px;
}

.div__min__skil {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.RU__ENG{
    transform: rotate(45deg);
    font-family: 'Gilroy-Bold';
    display: flex;
}

.img_man{
    padding-top: 31px;
    padding-bottom: 104px;
}

.container_about_me{
    background: #F6F6F6;
    min-width: 100%; 
    min-height: 100%;
}

.about_me{
    display: flex;
    padding-top: 181px;
    padding-bottom: 107px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.p__about_me{
    text-align: center;
    padding-bottom: 20px;
}

.h1_about_me{
    padding-bottom: 18px;
}

.container_skills{
    padding-top: 91px;
    padding-bottom: 110px;
}

.skills{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p__skills{
    padding-top: 70px;
}

.programs_skill{
    padding-top: 82px;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-around;
}

.programs_skill_{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p_programs{
    padding-top: 24px;
    padding-bottom: 40px;
    text-align: center;
}