html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}


.container{
    /* background-color: #ccc; */
    max-width: 964px;
    margin: 0 auto;
    padding: 0 10px;
}

body{
    font-size: 18px;
    line-height: 22px;
}

.header__inner{
    padding-top: 33px;
    display: flex;
    justify-content: space-around
}

.menu__list{
    display: flex;
    gap: 156px;
}

.menu__list-link{
    color: #070707;
    font-family: 'Gilroy-Bold';
}

.header__inner-line{
    padding-top: 32px;
}

.container_main{
    padding-top: 40px;
}
  